:root {
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --primary: #00adb5;
  --primary-hover: #33d8e0;
  --primary-focus: #88f9ff;
  --primary-active: #006469;
  --secondary: #ff0048;
  --primary-light: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

small {
  font-size: 0.7em;
}

body{ 
  color: var(--primary-light);
  background-color: var(--primary-dark);
}

.gallery {
  margin: auto;
  width: 90%;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  max-width: 400px;
  margin: 5px;
}

.movie-header {
  background-color: var(--secondary-dark);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.movie-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
}
.raiting-avg-bad {
  color: var(--secondary)
}

.raiting-avg-good {
  color: var(--primary)
}

.backdrop {
  position: relative;
  overflow: hidden;
}

.backdrop-image {
  display: block;
  width: 100%;
}

.overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000bb;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
}

.backdrop:hover .overview {
  height: 100%;
}

.text {
  text-shadow: 2px 2px 3px #000;
  font-weight: bold;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  padding: 10px;
  opacity: 1;
}

.movie-footer {
  background-color: var(--secondary-dark);
  padding: 5px 10px;
}

.filter-controls {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-controls >* {
  margin: 0 10px;
}

@media screen and (max-width: 992px) {
  .filter-controls {
    flex-direction: column;
  }
  .filter-controls >* {
    margin: 5px 10px;
  }
}

.ascending-toggle {
  position: relative;
}

.ascending-toggle input[type="checkbox"] {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(10px, 5px);
}

.text-bold {
  font-weight: bold;
}

/* Buttons */
.btn {
  padding: 6px 24px;
  border-radius: 4px;
  min-width: 200px;
  height: 40px;
  transition: 0.3s;
  color: white;
  font-size: 1.2em; }
  .btn:hover {
    cursor: pointer;
    background-color: var(--primary-hover); }
  .btn:focus {
    box-shadow: 0 0 0px 2px var(--primary-focus); }
  .btn:active {
    background-color: var(--primary-active); }

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary); }

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid var(--primary); }

.btn-secondary-outline {
  background-color: transparent;
  border: 1px solid #42464b; }

.card-holder {
  opacity: 0;
  animation-name: simple-fade;
  animation-duration: 1000ms;
  animation-delay: calc(500ms + var(--animation-order) * 120ms);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes simple-fade {
  0% {
    opacity: 0;
    transform: scale(0.1) translate(-120%, -120%);
  }
  
  80% {
    opacity: 0.4;
    transform: scale(1) translate(0, 0);
  }
  
  100% {
    opacity: 1;
  }
}